<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title id='browserTab' >CAdashboard</title>

<script type='text/javascript' src="jquery/jquery.js"></script>
<script type='text/javascript' src="jquery/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.theme.css">
<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.structure.css">
<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.css">


<!-- bootstrap Libraries (after jQuery) -->
<script type='text/javascript' src="bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">

<!-- soup Library -->
<script type='text/javascript' src="casbah_client.js"></script>

<!-- Handlebars Template engine -->
<script type='text/javascript' src="handlebars/handlebars-v4.0.10.js"></script>


<style rel="stylesheet">

.small {font-size:xx-small;}
.logobox {
float:left;
font-size:medium;
font-weight:bold;
font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
line-height:95%;
border-radius:10px;
border-style:solid;
border-width:0px;
border-color:black; 
padding:5px 20px 5px 20px;
margin:5px 5px 0px 0px;
background: skyblue;
}

#BUMPER {background:skyblue; height:50px; width:100%;}
.cazbar {background: linear-gradient(skyblue, tan); }
.bolivian {background: linear-gradient(red, yellow, yellow, green); }

/* box-shadow: 2px 2px 4px gray; */

</style>

<script type="text/javascript">

//prevent accidental image drop
$(window).on({
	"drop": function(e){ e=e||event; e.preventDefault(); false;},
	"dragover":function(e){ e=e||event; e.preventDefault(); false;}
});

//inhibit the browser's right-click context menu
$(document).on("contextmenu", false);

//READY
$(function() { 

	//bumper shoves the top of the dock-area down to prevent the static navbar from covering it
	$("#BUMPER").height($("#zbar").innerHeight());

	$(window).on("resize",function(){
		$("#BUMPER").height($("#zbar").innerHeight());
	});

	$("#ACTION").on("click",function(){
		$(".dock").hide();
		$("#actiondock").show();	
	});

	$("#reportstab").on("click",function(){
		$(".dock").hide();
		$("#reportdock").show();	
	});
	
	$("#shopstab").on("click",function(){
		$(".dock").hide();
		$("#shopdock").show();	
	});

	$("#welcometab").on("click",function(){
		$(".dock").hide();
		$("#welcomedock").show();		
	});
	
	$("#projectsbtn").on("click", function(){
		$("#welcomedock").load("views/projectForm.html");
	});
	
	$("#svrbtn").on("click", function(){
		$("#reportdock").show().load("views/SVR-XX.html");
	});
	
	$("#testbtn").on("click", function(){
		//var params=getTable("projects")
	
		autoForm($("#welcomedock"),
			{table:"TEST", 
			rows:[
			{id:"1", b:Math.random(), c:Math.random(), d:Math.random(), e:Math.random(49),
			f:Math.random(), g:Math.random(), h:Math.random(), i:Math.random()},
			{id:"2", b:Math.random(), c:Math.random(), d:Math.random(), e:Math.random(49),
			f:Math.random(), g:Math.random(), h:Math.random(), i:Math.random()}	
			]}
		);
	});
	
	
	
}); 


</script>

</head>
<body>
<nav id="zbar" class="navbar navbar-default navbar-fixed-top " >
<!-- nav id="zbar" class="navbar navbar-default navbar-static-top " -->
	<div class="container-fluid">
		<div class="nav navbar">
			<center class="logobox cazbar col-md-2">
			<div>* C-A *</div>
			<div>S B A H</div>
			</center><br>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			
			<li role="presentation" class="active">
			<a href="#ACTION" aria-controls="admin" role="tab" data-toggle="tab" >Action</a>
			</li>
	
			<li role="presentation">
			<a href="#BILLING" aria-controls="cop" role="tab" data-toggle="tab" >Billing</a>
			</li>
	
			<li role="presentation">
			<a href="#CONTRACT" aria-controls="docs" role="tab" data-toggle="tab" >Contract</a>
			</li>
	
			<li role="presentation">
			<a href="#DELTAS" aria-controls="changes" role="tab" data-toggle="tab" >Deltas</a>
			</li>
			
			<li role="presentation">
			<a href="#GALLERY" aria-controls="si" role="tab" data-toggle="tab" >Gallery</a>
			</li>
			
			<li role="presentation">
			<a href="#LETTERS" aria-controls="si" role="tab" data-toggle="tab" >Letters</a>
			</li>

	
			<li role="presentation">
			<a href="#MTGS" aria-controls="cr" role="tab" data-toggle="tab" >Meetings</a>
			</li>
			
	
			<li role="presentation">
			<a href="#QUESTIONS" aria-controls="RFI" role="tab" data-toggle="tab" >Questions</a>
			</li>
			
			<li role="presentation">
			<a id="reportstab" href="#REPORTS" aria-controls="frr" role="tab" data-toggle="tab" >Reports</a>
			</li>
			
			<li role="presentation">
			<a id="shopstab" href="#SHOPS" aria-controls="sdi" role="tab" data-toggle="tab" >Shops</a>
			</li>

			<li role="presentation">
			<a id="welcometab" href="#WELCOME"  aria-controls="welcome" role="tab" data-toggle="tab" >Welcome</a>
			</li>
			
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				
				<div role="tabpanel" class="tab-pane active" id="ACTION">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Action items</button>
					<button type="button" class="btn btn-default">Project status</button>
					<button type="button" class="btn btn-default">Outstanding RFIs</button>
					<button type="button" class="btn btn-default">Outstanding Shops</button>
				</div>
				</div>		

				<div role="tabpanel" class="tab-pane" id="BILLING">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">GC progress billing</button>
					<button type="button" class="btn btn-default">Certificates of Payment</button>
					<button type="button" class="btn btn-default">Allowance Authorization Letters</button>
					<button type="button" class="btn btn-default">Project Progress and milestones</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="CONTRACT">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Contract</button>
					<button type="button" class="btn btn-default">Addendums</button>
					<button type="button" class="btn btn-default">Bidders Q&amp;A</button>
					<button type="button" class="btn btn-default">Drawings</button>
					<button type="button" class="btn btn-default">Specification</button>
					<button type="button" class="btn btn-default">GC Schedule</button>						
				</div>
				</div>
					
				
				<div role="tabpanel" class="tab-pane" id="DELTAS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Change Orders</button>
					<button type="button" class="btn btn-default">Change Directives</button>
					<button type="button" class="btn btn-default">Change Orders</button>
				</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="LETTERS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Conformance Letters</button>
					<button type="button" class="btn btn-default">Supplemental Instructions</button>
					<button type="button" class="btn btn-default">Site Memos</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="GALLERY">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Progress Pictures (for use in timelines)</button>
					<button type="button" class="btn btn-default">Site pictures (for use in reports)</button>
					<button type="button" class="btn btn-default">Field sketches (for use in reports)</button>
				</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="MTGS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">OAC Meeting Minutes</button>
					<button type="button" class="btn btn-default">Action Items</button>
					<button type="button" class="btn btn-default">Issue Tracking</button>
				</div>
				
				</div>
				
				<div role="tabpanel" class="tab-pane" id="QUESTIONS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Requests For Information (RFI)</button>
					<button type="button" class="btn btn-default">Site Questions</button>
				</div>
				</div>	
				
				<div role="tabpanel" class="tab-pane" id="REPORTS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Deficiency Tracking</button>
					<button id="svrbtn" type="button" class="btn btn-primary">Site Visit Reports</button>
					<button type="button" class="btn btn-default">Project Timelines</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="SHOPS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Shop Drawing Reviews</button>
					<button type="button" class="btn btn-default">O &amp; M Manual Reviews</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="WELCOME">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">About</button>
					<button type="button" class="btn btn-default">Help</button>
					<button id="projectsbtn" type="button" class="btn btn-primary">Projects</button>
					<button id="testbtn" type="button" class="btn btn-primary">test</button>
				</div>				
				</div>
				
			</div>
		</div>
	</div>
</nav>
<div id="BUMPER" >bumper</div>
<div id="actiondock" class="dock" style="display:none;"><h3>action area</h3></div>
<div id="billingdock" class="dock" style="display:none;"><h3>billing area</h3></div>
<div id="contractdock" class="dock" style="display:none;"><h3>contract area</h3></div>
<div id="deltadock" class="dock" style="display:none;"><h3>delta area</h3></div>
<div id="letterdock" class="dock" style="display:none;"><h3>letter area</h3></div>
<div id="gallerydock" class="dock" style="display:none;"><h3>gallery area</h3></div>
<div id="meetingdock" class="dock" style="display:none;"><h3>meeitng area</h3></div>
<div id="questiondock" class="dock" style="display:none;"><h3>question area</h3></div>
<div id="reportdock" class="dock" style="display:none;"><h3>report area</h3></div>
<div id="shopdock" class="dock" style="display:none;"><h3>shop area</h3></div>
<div id="welcomedock" class="dock" style="display:none;"><h3>welcome area</h3></div>	


</body>

</html>

