<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title id='browserTab' >CAdashboard</title>

<script type='text/javascript' src="jquery/jquery.js"></script>
<script type='text/javascript' src="jquery/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.theme.css">
<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.structure.css">
<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.css">


<!-- bootstrap Libraries (after jQuery) -->
<script type='text/javascript' src="bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">

<!-- casbah library & CSS -->
<script type="text/javascript" src="casbah_client.js"></script>
<script type="text/javascript" src="casbah_tableview.js"></script>
<link rel="stylesheet" type="text/css" href="views/casbah.css">

<!-- Handlebars Template engine -->
<script type='text/javascript' src="handlebars/handlebars-v4.0.10.js"></script>



<script type="text/javascript">

var $PP=new Params();

//prevent accidental image drop
$(window).on({
	"drop": function(e){ e=e||event; e.preventDefault(); false;},
	"dragover":function(e){ e=e||event; e.preventDefault(); false;}
});

//inhibit the browser's right-click context menu
$(document).on("contextmenu", false);

//READY
$(function() { 

	// Setup Handlebars
	Handlebars.registerHelper("plusOne", function(val,options){return parseInt(val)+1;});


	//bumper shoves the top of the dock-area down to prevent the static navbar from covering it
	$("#BUMPER").height($("#zbar").innerHeight());

	$(window).on("resize",function(){
		$("#BUMPER").height($("#zbar").innerHeight());
	});

	$("#ACTION").on("click",function(){
		$(".dock").hide();
		$("#actiondock").show();	
	});

	$("#reportstab").on("click",function(){
		$(".dock").hide();
		$("#reportdock").show();	
	});
	
	$("#shopstab").on("click",function(){
		$(".dock").hide();
		$("#shopdock").show();	
	});

	$("#welcometab").on("click", function(){
		$(".dock").hide();
		$("#welcomedock").show().load("views/welcome.html");
	});
	
	$("#about-btn").on("click", function(){
		$("#welcomedock").load("views/projectForm.html");
	});
	
	$("#projects-btn").on("click", function(){
		$("#welcomedock").load("views/projectForm.html");
	});
	
	$("#svr-btn").on("click", function(){
		$("#reportdock").show().load("views/SVR-XX.html");
	});
	
	$("#svrlog-btn").on("click", function(){
		$("#reportdock").show().load("views/SVR-Log.html");
	});
	
	$("#test-btn").on("click", function(){
		//var params=getTable("projects")
	
		autoForm($("#welcomedock"),
			{table:"TEST", 
			rows:[
			{id:"1", b:Math.random(), c:Math.random(), d:Math.random(), e:Math.random(49),
			f:Math.random(), g:Math.random(), h:Math.random(), i:Math.random()},
			{id:"2", b:Math.random(), c:Math.random(), d:Math.random(), e:Math.random(49),
			f:Math.random(), g:Math.random(), h:Math.random(), i:Math.random()}	
			]}
		);
	});
	
	$("#welcomedock").load("views/welcome.html");
	
}); 


</script>

</head>
<body>
<nav id="zbar" class="navbar navbar-default navbar-fixed-top" >
<!-- nav id="zbar" class="navbar navbar-default navbar-static-top " -->
	<div class="container-fluid">
		<div class="nav navbar">
			<center class="logobox cazbar col-md-2">
			<div>* C-A *</div>
			<div>S B A H</div>
			</center><br>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			
			<li role="presentation" class="active">
			<a href="#ACTION" aria-controls="admin" role="tab" data-toggle="tab" >Action</a>
			</li>
	
			<li role="presentation">
			<a href="#BILLING" aria-controls="cop" role="tab" data-toggle="tab" >Billing</a>
			</li>
	
			<li role="presentation">
			<a href="#CONTRACT" aria-controls="docs" role="tab" data-toggle="tab" >Contract</a>
			</li>
	
		
			<li role="presentation">
			<a href="#GALLERY" aria-controls="si" role="tab" data-toggle="tab" >Gallery</a>
			</li>

			
			<li role="presentation">
			<a href="#LETTERS" aria-controls="si" role="tab" data-toggle="tab" >Letters</a>
			</li>

	
			<li role="presentation">
			<a href="#MTGS" aria-controls="cr" role="tab" data-toggle="tab" >Meetings</a>
			</li>
			
	
			<li role="presentation">
			<a id="reportstab" href="#REPORTS" aria-controls="frr" role="tab" data-toggle="tab" >Reports</a>
			</li>
			
			<li role="presentation">
			<a id="shopstab" href="#SHOPS" aria-controls="sdi" role="tab" data-toggle="tab" >Shops</a>
			</li>

			<li role="presentation">
			<a id="welcometab" href="#WELCOME"  aria-controls="welcome" role="tab" data-toggle="tab" >Welcome</a>
			</li>
			
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				
				<div role="tabpanel" class="tab-pane" id="ACTION">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Action items</button>
					<button type="button" class="btn btn-default">Project status</button>
					<button type="button" class="btn btn-default">Outstanding RFIs</button>
					<button type="button" class="btn btn-default">Outstanding Shops</button>
				</div>
				</div>		

				<div role="tabpanel" class="tab-pane" id="BILLING">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Allowance Authorization Letters</button>
					<button type="button" class="btn btn-default">Billing (GC progress draws)</button>
					<button type="button" class="btn btn-default">Certificates of Payment</button>
					<button type="button" class="btn btn-default">Progress Summary</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="CONTRACT">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Contract</button>
					<button type="button" class="btn btn-default">Addendums</button>
					<button type="button" class="btn btn-default">Bidders Q&amp;A</button>
					<button type="button" class="btn btn-default">Drawings</button>
					<button type="button" class="btn btn-default">Specifications</button>
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Schedule</button>	
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-info">Changes Log</button>
					<button type="button" class="btn btn-default">Changes Directive</button>
					<button type="button" class="btn btn-default">Change Order</button>
					<button type="button" class="btn btn-default">Contemplated Change Notice</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="GALLERY">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-info">Photos Log</button>
					<button type="button" class="btn btn-default tan">Photo (current)</button>
					<button type="button" class="btn btn-default tan">Gallery (featured photos)</button>
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-info">Sketch Log</button>
					<button type="button" class="btn btn-default tan">Sketch (current)</button>
				</div>
				</div>
					
				<div role="tabpanel" class="tab-pane" id="LETTERS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-info">Conformance Letters</button>
					<button type="button" class="btn btn-default">Supplemental Instructions</button>
					<button type="button" class="btn btn-default">Site Memos</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="MTGS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-info">OAC Meeting Minutes Log</button>
					<button type="button" class="btn btn-default tan">OAC Meeting Minutes (current)</button>
					<button type="button" class="btn btn-default tan">Action Items</button>
				</div>
				
				</div>
				
				<div role="tabpanel" class="tab-pane" id="REPORTS">
				<div class="btn-group" role="group" aria-label="...">
				<button id="svrlog-btn" type="button" class="btn btn-info">Site Visit Report Log</button>
				<button id="svr-btn" type="button" class="btn btn-default">Site Visit Report</button>
				</div>
				<div class="btn-group" role="group" aria-label="...">
				<button id="rpllog-btn" type="button" class="btn btn-info">Room Punch Lists Log</button>
				<button id="rpl-btn" type="button" class="btn btn-default">Room Punch Lists</button>
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-info">RFI Log</button>
					<button type="button" class="btn btn-default">RFI (current)</button>
				</div>
				
				
				</div>
				
				<div role="tabpanel" class="tab-pane" id="SHOPS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Shop Drawing Reviews</button>
					<button type="button" class="btn btn-default">O &amp; M Manual Reviews</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane active" id="WELCOME">
				<div class="btn-group" role="group" aria-label="...">
					<button id="about-btn" type="button" class="btn btn-info">About</button>
					<button type="button" class="btn btn-default">Help</button>
					<button id="projects-btn" type="button" class="btn btn-info">Projects</button>
					<button id="test-btn" type="button" class="btn btn-info">test</button>
				</div>				
				</div>
				
			</div>
		</div>
	</div>
</nav>
<div id="BUMPER" >bumper</div>
<div id="actiondock" class="dock" style="display:none;"><h3>action area</h3></div>
<div id="billingdock" class="dock" style="display:none;"><h3>billing area</h3></div>
<div id="contractdock" class="dock" style="display:none;"><h3>contract area</h3></div>
<div id="infodock" class="dock" style="display:none;"><h3>Info area</h3></div>
<div id="letterdock" class="dock" style="display:none;"><h3>letter area</h3></div>
<div id="gallerydock" class="dock" style="display:none;"><h3>gallery area</h3></div>
<div id="meetingdock" class="dock" style="display:none;"><h3>meeitng area</h3></div>
<div id="reportdock" class="dock" style="display:none;"><h3>report area</h3></div>
<div id="shopdock" class="dock" style="display:none;"><h3>shop area</h3></div>
<div id="welcomedock" class="dock" style="display:block;"><h3>welcome area</h3></div>	


</body>

</html>

