<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title id='browserTab' >CAdashboard</title>

<script type='text/javascript' src="jquery/jquery.js"></script>
<script type='text/javascript' src="jquery/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.theme.css">
<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.structure.css">
<link rel="stylesheet" type="text/css" href="jquery/jquery-ui.css">

<!-- bootstrap Libraries (after jQuery) -->
<script type='text/javascript' src="bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">

<!-- soup Library -->
<script type='text/javascript' src="soup/dist/soup.js"></script>

<!-- Handlebars Template engine -->
<script type='text/javascript' src="handlebars/handlebars-v4.0.10.js"></script>


<style rel="stylesheet">
body { padding-top: 150px; }

.small {font-size:xx-small;}
.logobox {
float:left;
font-size:small;
font-weight:bold;
font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
line-height:95%;
border-radius:10px;
border-style:solid;
border-width:0px;
border-color:black; 
padding:5px 20px 5px 20px;
margin: 5px;
background: skyblue;
}
.cazbar {background: linear-gradient(skyblue, tan); }
.bolivian {background: linear-gradient(red, yellow, yellow, green); }

/* box-shadow: 2px 2px 4px gray; */

</style>

<script type="text/javascript">

//prevent accidental image drop
$(window).on({
	"drop": function(e){ e=e||event; e.preventDefault(); false;},
	"dragover":function(e){ e=e||event; e.preventDefault(); false;}
});

//inhibit the browser's right-click context menu
$(document).on("contextmenu", false);

function loadCurrentFRR(){
	$("#dock").load("views/FRR-XX.html");
};

function clr(){
	$("#dock").empty();
};


function getProjectNames(){
	$.ajax({
		url: 'sql',
		type: 'POST',
		data: jQuery.param({sql: "SELECT name FROM projects"}),
		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		success: function (response) {$("#result").text(JSON.stringify(response));},
		error: function () {$("#result").text("error");	}
	}); 
};

function getCookie(cname) {
	console.log("getCookie...", cname);
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
	console.log("ca...", ca);	
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return null;
}

function setCookie(cname, cvalue, exdays) {
	console.log("setCookie...");
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}



function projectForm(){	$("#dock").load("views/projectForm.html");};

//READY
$(function() { 
	
}); 



</script>

</head>
<body>
<nav class="navbar navbar-fixed-top navbar-default">
	<div class="container-fluid">
		<div class="nav navbar">
			<center class="logobox cazbar col-md-1">
			<div>C-A Z</div>
			<div>B A R</div>
			<!--div class="small">Contract Administration</div-->
			</center><br>

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			
			<li role="presentation" class="active">
			<a href="#ACTION" aria-controls="admin" role="tab" data-toggle="tab" onclick="clr()">Action</a>
			</li>
	
			<li role="presentation">
			<a href="#BILLING" aria-controls="cop" role="tab" data-toggle="tab" onclick="clr()">Billing</a>
			</li>
	
			<li role="presentation">
			<a href="#CONTRACT" aria-controls="docs" role="tab" data-toggle="tab" onclick="clr()">Contract</a>
			</li>
	
			<li role="presentation">
			<a href="#DELTAS" aria-controls="changes" role="tab" data-toggle="tab" onclick="clr()">Deltas</a>
			</li>
			
			<li role="presentation">
			<a href="#GALLERY" aria-controls="si" role="tab" data-toggle="tab" onclick="clr()">Gallery</a>
			</li>
			
			<li role="presentation">
			<a href="#LETTERS" aria-controls="si" role="tab" data-toggle="tab" onclick="clr()">Letters</a>
			</li>

	
			<li role="presentation">
			<a href="#MTGS" aria-controls="cr" role="tab" data-toggle="tab" onclick="clr()">Meetings</a>
			</li>
			
	
			<li role="presentation">
			<a href="#QUESTIONS" aria-controls="RFI" role="tab" data-toggle="tab" onclick="clr()">Questions</a>
			</li>
			
			<li role="presentation">
			<a href="#REPORTS" aria-controls="frr" role="tab" data-toggle="tab" onclick="loadCurrentFRR()">Reports</a>
			</li>
			
			<li role="presentation">
			<a href="#SHOPS" aria-controls="sdi" role="tab" data-toggle="tab" onclick="clr()">Shops</a>
			</li>

			<li role="presentation">
			<a href="#WELCOME" aria-controls="welcome" role="tab" data-toggle="tab" onclick="clr()">Welcome</a>
			</li>
			
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

				
				<div role="tabpanel" class="tab-pane active" id="ACTION">
				<ol>
				<li>Action items from Conference Reports and other sources.</li> 
				<li>Status report of project with stats from various logs.</li>
				<li>RFI responses due</li>
				<li>Outstanding SDIs</li>
				</ol>
				</div>		

				<div role="tabpanel" class="tab-pane" id="BILLING">
				<p>Logs and management of:</p>
				<ol>
				<li>GC Progress billings</li>
				<li>Certificates of Payment</li>
				<li>Allowance Authorization Letters</li>
				<li>Project Progress and milestones</li>
				</ol>	
				</div>
				
				<div role="tabpanel" class="tab-pane" id="CONTRACT">
				<p>Links to:</p>
				<ol>
				<li>Contact information for Client, Representatives, Consultants, GC and Trades</li> 
				<li>Contract</li> 
				<li>addendums</li>
				<li>bidders questions and answers</li>
				<li>current drawings</li>
				<li>current specification</li>
				<li>GC's Schedule</li>
				</ol>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="DELTAS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Change Orders</button>
					<button type="button" class="btn btn-default">Change Directives</button>
					<button type="button" class="btn btn-default">Change Orders</button>
				</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="LETTERS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Conformance Letters</button>
					<button type="button" class="btn btn-default">Supplemental Instructions</button>
					<button type="button" class="btn btn-default">Site Memos</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="GALLERY">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Progress Pictures (for use in timelines)</button>
					<button type="button" class="btn btn-default">Site pictures (for use in reports)</button>
					<button type="button" class="btn btn-default">Field sketches (for use in reports)</button>
				</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="MTGS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">OAC Meeting Minutes</button>
					<button type="button" class="btn btn-default">Action Items</button>
					<button type="button" class="btn btn-default">Issue Tracking</button>
				</div>
				
				</div>
				
				<div role="tabpanel" class="tab-pane" id="QUESTIONS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Requests For Information (RFI)</button>
					<button type="button" class="btn btn-default">Site Questions</button>
				</div>
				</div>	
				
				<div role="tabpanel" class="tab-pane" id="REPORTS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Deficiency Tracking</button>
					<button type="button" class="btn btn-default">Site Visit Reports</button>
					<button type="button" class="btn btn-default">Project Timelines</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="SHOPS">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Shop Drawing Reviews</button>
					<button type="button" class="btn btn-default">O &amp; M Manual Reviews</button>
				</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="WELCOME">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">About</button>
					<button type="button" class="btn btn-default">Help</button>
					<button type="button" class="btn btn-primary" onclick="projectForm()">Projects</button>
				</div>				
				</div>
				
			</div>
		</div>
	</div>
</nav>
<div id="dock"></div>
</body>

</html>

