<!doctype html>

<div class="row row__">
	<strong class="col-xs-2">Project No.:</strong>
	<p class="col-xs-4">{{pnum}}</p>
	<strong class="col-xs-2">Doc No:</strong>
	<p id="docName" class="col-xs-4">{{dnum}}</p>
</div>

<div class="row row_">
	<strong class="col-xs-2">Project Name:</strong>
	<p class="col-xs-4">{{pname}}</p>
	<strong id="docTitle" class="col-xs-2">Doc title:</strong>
	<p class="col-xs-4">{{dtitle}}</p>
</div>

<div class="row row_">
	<strong class="col-xs-2">Project Location:</strong>
	<p class="col-xs-4">{{plocation}}</p>
	<strong id="docDate" class="col-xs-2">Review date:</strong>
	<p class="col-xs-4">{{ddate}}</p>
</div>

<div class="row row_">
	<strong class="col-xs-2">Contractor:</strong>
	<p class="col-xs-4">{{pcontractor}}</p>
	<strong id="publish_date" class="col-xs-2">Issue date:</strong>
	<p class="col-xs-4">{{publish_date}}</p>
</div>

<div class="row row_">
	<strong class="col-xs-2">Permit No:</strong>
	<p id="permitNo" class="col-xs-4">{{permit}}</p>
	<strong id="docBy" class="col-xs-2">By:</strong>
	<p class="col-xs-4">{{dby}}</p>
</div>