<script type="text/javascript">

//ready
$(function(){

//using jquery keeps global space polution free
$("#frm-project").submit(function(ev){
	/********
	Form onsubmit event handler.  This took forever to get right yet so simple! Important to return true which proceeds with post to server. Returning false or no return prevents submitting values to server. 
	Do input field validation here. Note that iexplore iframe doesn't work as a target and there's no simple work-around so may have to use own ajax methods.
	****/
	//return true;

	//Use own submit handler, not the default built-in submit handler as iexplorer doesn't use
	ev.preventDefault();
	submitHandler({
			SQL:$("#SQL").val(),
			pnum:$("#pnum").val(),
			pname:$("#pname").val(),
			client:$("#client").val(),
			gc:$("#gc").val(),
			address:$("#address").val()
		},
		function(result){
			try{
				//alert(JSON.stringify(result));
				$("#pnum").val(result.rows[0].pnum);
				$("#pname").val(result.rows[0].pname);
				$("#client").val(result.rows[0].client);
				$("#gc").val(result.rows[0].gc);
				$("#address").val(result.rows[0].address);
				$("#status").val(result.msg);
			} catch(err){$("#status").val(err);}
		},
		function(err){$("#status").val(err);}	
	);
	
	return false;
	
});

$("#frmReceiver").on("load", function(){
	/*** https://stackoverflow.com/questions/4487623/target-a-div-using-form ***/
	//var c=$("#frmReciever").find("body");
	//var ret = frames["frmReceiver"].document.getElementsByTagName("body")[0].innerHTML; 
	var raw=$("#frmReceiver").contents().find("body>pre").text();
	
	try	{
		var result=JSON.parse(raw);
		$("#pnum").val(result.rows[0].pnum);
		$("#pname").val(result.rows[0].pname);
		$("#client").val(result.rows[0].client);
		$("#gc").val(result.rows[0].gc);
		$("#address").val(result.rows[0].address);
		$("#status").val(result.msg);
	} 
	catch(er){console.log(er);}
	
	
});

$("#btn-save").on("click", function(){
	$("#SQL").val("UPDATE projects SET pnum=$pnum, pname=$pname, address=$address, client=$client, gc=$gc WHERE pnum=$pnum");
});

$("#btn-delete").on("click", function(){
	//$("#SQL").val(SQL);
});

$("#btn-add").on("click", function(){

	$("#SQL").val("INSERT INTO projects VALUES ($pnum, $pname, $address, $client, $gc )");
});

/***
$("#btn-init").on("click", function(){
	$("#SQL").val("CREATE TABLE IF NOT EXISTS projects (pnum, pname, address, client, gc, UNIQUE ( pnum ) ON CONFLICT IGNORE)");
});
***/

$("#btn-first").on("click", function(){
	$("#SQL").val("SELECT * FROM projects ORDER BY pnum LIMIT 1");
});

$("#btn-next").on("click", function(){
	$("#SQL").val("SELECT * FROM projects WHERE pnum > $pnum ORDER BY pnum ASC LIMIT 1");
});

$("#btn-back").on("click", function(){
	$("#SQL").val("SELECT * FROM projects WHERE pnum < $pnum ORDER BY pnum DESC LIMIT 1");
});

$("#btn-last").on("click", function(){
	$("#SQL").val("SELECT * FROM projects ORDER BY rowid DESC LIMIT 1");
});

$("#btn-current").on("click", function(){
	var cpnum=$("#pnum").val();
	setCookie("cpnum", cpnum, 60); //expires after 60 days
	alert("Current Project: "+getCookie("cpnum"));
});


//Lastly... get current project cookie and fill in the form for the first time
var cpnum=getCookie("cpnum");
if (cpnum){
	//get current record from database...
	//set up query
	$("#SQL").val("SELECT * FROM projects WHERE pnum = '" + cpnum + "'");
	//trigger submit
	$("#frm-project").trigger("submit");
}

});
</script>


<div class="container-fluid">
<h3><span class="label label-default">Project Form</span></h3>
<form id="frm-project" name="frm-project" action="/formHandler" method="post" target="frmReceiver">
<!-- form id="frm-project" name="frm-project" -->
<input id="SQL" type="hidden" name="SQL" value="...SET BY BUTTONS BEFORE SUBMIT...">
<div class="input-group">
	<span class="input-group-addon" >Project number</span>
	<input id="pnum" name="pnum" class="form-control" type="text"  placeholder="..." aria-describedby="basic-addon1" value="BLDG17-001">
  
  <span class="input-group-addon" >Client</span>
  <input id="client" name="client" type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1" value="Client">
  
  <span class="input-group-addon" >GC</span>
  <input id="gc" name="gc" type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1" value="GC">
</div>

<div class="input-group"> 
  <span class="input-group-addon " >Project name</span>
  <input id="pname" name="pname" type="text"  class="form-control " placeholder="..." aria-describedby="basic-addon1" value="Renovation">
</div>

<div class="input-group">
  <span class="input-group-addon" >Address</span>
  <input id="address" name="address" type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1" value="123 Some Street, Town, Province">
</div>


<br>
<div class="input-group col-md-12" >
<div class="btn-group" role="group" aria-label="...">
	<button id="btn-add" type="submit" class="btn btn-default ">Add</button>
	<button id="btn-current" type="submit" class="btn btn-default ">Current</button>
	<button id="btn-delete" type="submit" class="btn btn-default ">Delete</button>
	<!--button id="btn-init" type="submit" class="btn btn-default ">Initialize</button -->
	<button id="btn-save" type="submit" class="btn btn-default ">Save</button>
</div>
<div class="btn-group" role="group" aria-label="...">
	<button id="btn-first" type="submit" class="btn btn-default ">First</button>
	<button id="btn-back" type="submit" class="btn btn-default ">&lt;&lt;&nbsp;Back</button>
	<button id="btn-next" type="submit" class="btn btn-default ">Next&nbsp;&gt;&gt;</button>
	<button id="btn-last" type="submit" class="btn btn-default ">Last</button>
</div>
</div>
<div class="input-group col-md-6" role="group" aria-label="...">
	<span class="input-group-addon" >Status</span>
	<input id="status" type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1" readonly>
</div>

<br>
<iframe name="frmReceiver" id="frmReceiver" class="col-sm-12" style="display:none; height:50px;"></iframe>


</form>


</div>


