<!doctype html>

<script type='text/javascript'>
//console.log("SCRIPT...");
///// Global defs


function selectFolder(e) {
    var theFiles = e.target.files;
    var relativePath = theFiles[0].webkitRelativePath;
    var folder = relativePath.split("/");
    alert(folder[0]);
};


// Parameters from Cookies 
//var $user=cookie("$user");
//if ($user==null){$user=cookie("$user", "admin", "30");};
//var $pnum=cookie("$pnum");
//if ($pnum==null){$pnum=cookie("$pnum", "BLDG-001", "30");};
//var $svrnum=cookie("$svrnum");
//var $svrnum="SVR-A01";
//if ($svrnum==null){$svrnum=cookie("$svrnum", "SVR-A01", "30");};

//var $PP={$user:$user, $pnum:$pnum, $svrnum:$svrnum}
//for development only
/*
$.extend($PP, {
	$pnum:cookie("$pnum", "BLDG-001", "30"),
	$cids:[1,2,3,4,5,6,7,8,9,11,12,13,14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
	$iids:[1,2,3,4,5,6,7,8,9,11,12,13],
	$user:cookie("$user"),
});
*/

///// TableViews

var svr={};

// Site visit report
//svr.tv=new TableView(casbah.siteVisitReports($PP),
var RTV=new TableView(casbah.siteVisitReports($PP),
	{refresh:function(result, diff){	
		if (result.rows.length>0){
			//update params...
			$.extend($PP,{
				$did:result.rows[0].rowid,
				$comment_ids:JSON.parse(result.rows[0].comment_ids), //convert from string to array
				$issue_ids:JSON.parse(result.rows[0].issue_ids) //ditto
			});
			//dependent table parameter update/refresh...
			CTV.refresh();
			ITV.refresh();
		}
	}}
);

///// Menu & actions for comments
var CM$;
/***
var CMinsert=function(){
	CTV.add((r)=>{
		ari($PP.$cids, r.rows[0].rowid, hi.rowid());
		RTV.save({comment_ids:$PP.$cids}, $PP.$svrid);
		CTV.re();
	});
};
***/

var CMremove=function(){
	//CTV.remove(hi.rowid()); //keep comment in database
	array_remove($PP.$comment_ids, hi.rowid());
	RTV.update({comment_ids:$PP.$comment_ids}, $PP.$svrid);
	CTV.refresh();
};

///// table view for comments
var CTemp=function(r){console.log("default renderer...");};
var CTV=new TableView(casbah.comments($PP),
	{refresh:function(result, delta){
		array_rowidorder(result.rows, $PP.$comment_ids); 
		renderFX("#comments-placeholder", CTemp, result, delta);
	}}
);

// table view for issues-closed
var IM$;
var icTemp;
var ioTemp;
//var ITV=issuesTableView(...);
var ITV=new TableView(casbah.issues($PP),
	{refresh:function(result, delta){
		//TODO: filter result based on applicable dates...
		renderFX("#issues-closed-placeholder", icTemp, result, delta);
		renderFX("#issues-open-placeholder", ioTemp, result, delta);
	}}
);


// text editor
var ed=new Editor();
// highligher
var hi=new Highlighter("highlite");

// function templates
var document_header;
var document_titleblock;


///// READY
//$(function() { 

	// Setup Handlebars - moved to casbah.html
	//Handlebars.registerHelper("plusOne", function(val,options){return parseInt(val)+1;});

	$("<div>template</div>").load("views/document_header.html", function(htm){
		//console.log('tbh loaded:', htm);
		document_header=Handlebars.compile(htm);
		renderFX("document-header", document_header, $PP);
	});

	//$("#document-titleblock-template").load("views/document_titleblock.html", function(htm){
	$("<div>template</div>").load("views/document_titleblock.html", function(htm){
		//console.log('tbt loaded:', htm);
		document_titleblock=Handlebars.compile(htm);
		renderFX("document-titleblock", document_titleblock, $PP);
	});

	///// Comments
	// initialize context menu...
	CM$=$("#comments-menu").menu().css("position","absolute", "width", "200px").hide();
	CTemp=Handlebars.compile($("#comments-template").html());

	///// Issues
	IM$=$("#issues-menu").menu().css("position","absolute", "width", "200px").hide();
	icTemp=Handlebars.compile($("#issues-closed-template").html());
	ioTemp=Handlebars.compile($("#issues-open-template").html());

	///// Pictures
	//To do
	
	//render report table which renders dependent comments and issues table-views also
	RTV.refresh();
	
//}); //READY


</script>

<div class="container">
	<div id="document-header">placeholder</div>
	<div id="document-titleblock">placeholder</div>
	<p class="row row_" >This report is a general review of progress and construction activities on site.  Architectural Work was visually reviewed on a random basis for general conformity with Architectural Contract Documents prepared by this firm.  Refer also to Mechanical and Electrical field reports issued separately.  
	</p>
	<br><br>
	<div id="general-placeholder" class="marz"></div>
	<div id="comments-placeholder" class="marz"></div>
	<div id="issues-closed-placeholder" class="marz"></div>
	<div id="issues-open-placeholder" class="marz"></div>
	<div id="pictures-placeholder" class="marz"></div>

	<br><br>
</div>


<!-- TEMPLATES               -->
<template id='general-template' type="text/x-handlebars-template">
	<div class="row marz">
		<h3 class="col-xs-1 marz">1.0</h3>
		<h3 class="col-xs-10 border-left marz">General</h3>
		<h3 class="col-xs-1 marz">Ref.</h3>
	</div>
	<div class="row marz">
		<p class="col-xs-1 marz">1.1</p>
		<p id="generalComment" class="col-xs-10 border-left marz" >general comment</p>
		<p class="col-xs-1 marz">--</p>
	</div>

</template>


<!-- TEMPLATES               -->
<template id='comments-template' type="text/x-handlebars-template">

	<div class="row marz" 
		onmouseenter="hi.light(this)"
		oncontextmenu="showMenu(CM$, event)" >
		<h3 class="col-xs-1 marz" >2.0</h3>
		<h3 class="col-xs-10 border-left marz">Comments and Observatons</h3>
		<h3 class="col-xs-1 marz" >Pic.</h3>
	</div>

	{{#each rows}}
	<div class="row marz highliteable"
		id="comment{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="hi.light(this)"
		oncontextmenu="showMenu(CM$, event)">
	<p 	rowid="{{rowid}}" class="col-xs-1 marz">2.{{plusOne @index}}</p>
	<p 	field="comment"
		rowid="{{rowid}}"
		onclick="ed.text(this, function(){CTV.update(ed.row(), ed.rowid(), 1); ed.hide();});"
		class="col-xs-10 border-left marz">{{comment}}</p>	
	<p 	rowid="{{rowid}}" class="col-xs-1 marz">{{rowid}}</p>	
	</div>
	{{/each}}	
</template>

<template id='issues-closed-template' type="text/x-handlebars-template">

	<div class="row marz"
		oncontextmenu="showMenu(icM$, event)"
		onmouseenter="hi.light(this)">
		<h3 class="col-xs-1 marz">3.0</h3>
		<h3 class="col-xs-10 border-left marz">Issues Resolved</h3>
		<h3 class="col-xs-1 marz">Ref</h3>
	</div>

	{{#each rows}}
	<div class="row marz"
		rowid="{{rowid}}"
		index="{{@index}}"
		onmouseenter="hi.light(this)"
		oncontextmenu="showMenu(IM$, event)">
	<p 	class="col-xs-1 marz"
		rowid="{{rowid}}"
		index="{{@index}}">3.{{plusOne @index}}</p>
	<p 	field="desc"
		rowid="{{rowid}}"
		index="{{@index}}"
		onclick="ed.text(this, function(){ITV.update(ed.row(), ed.rowid(), 1); ed.hide();})"
		class="col-xs-10 border-left marz">{{desc}}</p>	
	<p 	rowid="{{rowid}}"
		index="{{@index}}"
		class="col-xs-1 marz">{{rowid}}</p>	
	</div>
	{{/each}}	
</template>

<template id='issues-open-template' type="text/x-handlebars-template">
	{{#each rows}}
	<div class="row marz"
		rowid={{rowid}}
		onmouseenter="hi.light(this)"
		oncontextmenu="showMenu(IM$, event)">
	<p 	rowid={{rowid}}
		class="col-xs-1 marz">4.{{plusOne @index}}</p>
	<p 	field="desc"
		rowid={{rowid}}
		onclick="ed.text(this, function(){ITV.update(ed.row(),ed.rowid(),1); ed.hide();})"
		class="col-xs-10 border-left marz">{{desc}}</p>	
	<p 	rowid={{rowid}}
		class="col-xs-1 marz">{{rowid}}</p>	
	</div>
	{{/each}}	
</template>

<!-- MENUS -->
<div id="comments-menu" onmouseleave="CM$.hide()" class="hide9999">
	<p onclick="CMremove()">Delete</p>

	<p onclick="
	CTV.add( function(r){array_insert_after($PP.$comment_ids, r.rowid, hi.rowid());
	RTV.save({comment_ids:$PP.$comment_ids}, $PP.$did);
	CTV.update(hi.row(), r.rowid, true);});">Insert</p>

	<p onclick="array_moveup($PP.$comment_ids, hi.rowid());CTV.refresh();">Move up</p>
	<p onclick="array_movedown($PP.$comment_ids, hi.rowid());CTV.refresh();">Move down</p>
	<p onclick="CM$.hide()">Exit</p>
	<p onclick="RTV.refresh();CM$.hide()">RTV.refresh</p>
</div>

<div id="issues-menu" onmouseleave="IM$.hide()" style="display:none; z-index:10000">
	<p onclick="ITV.insert(true)">Insert</p>
	<p onclick="ITV.remove(hi.rowid())">Delete</p>
	<p onclick="IM$.hide()">Exit</p>
</div>


