<!doctype html>

<script type='text/javascript'>
//console.log("SCRIPT...");
///// Global defs


// Parameters from Cookies 
//var $user=cookie("$user");
//if ($user==null){$user=cookie("$user", "admin", "30");};
//var $pnum=cookie("$pnum");
//if ($pnum==null){$pnum=cookie("$pnum", "BLDG-001", "30");};
//var $svrnum=cookie("$svrnum");
//var $svrnum="SVR-A01";
//if ($svrnum==null){$svrnum=cookie("$svrnum", "SVR-A01", "30");};

//var $PP={$user:$user, $pnum:$pnum, $svrnum:$svrnum}

$.extend($PP,{
	dtype:"Site Visit Report Log",
	dnum:"SVR-Log",
	ddate:Date(),
	dby:$PP.$user,
	pname:"Some Street Building Redevelopment",
	plocation:"123 Some Street, City, Prov, M5B 1W8",
	permit:"16 xxxxxx BLD 00 BA",
	pcontractor:"CasbahCon"
})


///// TableViews

// Site visit report

var svrClick=function(el){
	ed.text(el, function(){svrTV.update(ed.row(), ed.rowid(), 1); ed.hide();});
};
var svrTV=new TableView({
	//table name in database
	table:"svrs",
	//default values for new row
	defrow:{
		//dnum:"SVR-A01",
		svrnum:"SVR-A01",
		pnum:"BLDG-001",
		title:"New comment",
		review_date:Date(), 
		publish_date:"not-issued", 
		comment_ids:"[1,2,3,4,5]", 
		issue_ids:"[1,2,3,4,5]",
		picture_ids:"[1,2,3,4,5]",
		reviewer:$PP.$user,
		xdata:"none"
	},
	//get all
	filter:" rowid=rowid ",
	//reference to global parameter object 
	params:$PP,
	refresh:function(result, delta){	
		renderFX("document-content", document_content, result, delta);
	}
});

///// Menu & actions for comments
//var CM$;
/***
var CMinsert=function(){
	CTV.add((r)=>{
		ari($PP.$cids, r.rows[0].rowid, hi.rowid());
		RTV.save({comment_ids:$PP.$cids}, $PP.$svrid);
		CTV.re();
	});
};
***/

// text editor
var ed=new Editor();

// highligher
var hi=new Highlighter(".highlite");

// function templates
var document_header;
var document_titleblock;
var document_content;


///// READY
$(function() { 

	///// Comments
	// initialize context menu...
	//CM$=$("#comments-menu").menu().css("position","absolute", "width", "200px").hide();

	//load templates and render
	$("#document-header-template").load("views/document_header.html", function(htm){
		//console.log('tbh loaded:', htm);
		document_header=Handlebars.compile(htm);
		renderFX("document-header", document_header, $PP);
	});

	$("#document-titleblock-template").load("views/document_titleblock.html", function(htm){
		//console.log('tbt loaded:', htm);
		document_titleblock=Handlebars.compile(htm);
		renderFX("document-titleblock", document_titleblock, $PP);
	});
	
	document_content=Handlebars.compile($("#document-content-template").html());
	svrTV.refresh();
	
}); //READY



</script>

</head>



<body>

<!-- TEMPLATES               -->
<template class="hide"	id="document-titleblock-template" 	type="text/x-handlebars-template">
Note this template is loaded from file onready
</template>

<template id="document-header-template" type="text/x-handlebars-template">
Note this template is loaded from file onready
</template>

<template id='document-content-template' type="text/x-handlebars-template">
	<div class="row marz row_" onmouseenter="hi.light(this);">
	<p class="col-xs-1 row-head marz">row</p>		
	<p class="col-xs-3 border-left row-head marz">title / comment ids</p>
	<p class="col-xs-3 row-head marz">review date / issue ids</p>
	<p class="col-xs-3 row-head marz">publish date / photo ids</p>
	<p class="col-xs-2 row-head marz">by</p>
	</div>

	{{#each rows}}
	<div class="row marz"
		id="svr{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="hi.light(this);"
		onmouseleave="hi.dark(this);"
		oncontextmenu="showMenu(CM$, event)">

	<p 	rowid="{{rowid}}"
		class="col-xs-1 marz">{{plusOne @index}}</p>		
		
	<p 	class="col-xs-3 border-left marz"
		field="title"
		rowid="{{rowid}}"
		onclick="svrClick(this);">
		{{title}}</p>
		
	<p 	field="review_date"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">
		{{review_date}}</p>
		
	<p 	field="publish_date"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">
		{{publish_date}}</p>
		
	<p 	field="reviewer"
		class="col-xs-2 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">
		{{reviewer}}</p>
		
	<p class="col-xs-2 marz"></p>
	</div>

	<div class="row marz"
		id="svr{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="hi.light(this);"
		onmouseleave="hi.dark(this);"
		oncontextmenu="showMenu(CM$, event)">

	<p class="col-xs-1 marz"></p>

	<p 	field="comment_ids"
		rowid="{{rowid}}"
		class="col-xs-3 border-left marz"
		style="height:100%;"
		onclick="svrClick(this);">
		{{comment_ids}}</p>	
			
	<p 	field="issue_ids"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">
		{{issue_ids}}</p>
		
	<p 	field="picture_ids"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">
		{{picture_ids}}</p>
		
	<p class="col-xs-2 marz"></p>
		
	</div>
	{{/each}}	
</template>


<!-- PAGE STARTS HERE -->

<div class="container">

	<div id="document-header" ></div>
	<div id="document-titleblock" ></div>
	<br><br>
	<div id="document-content"></div>
	<br><br><br><br>
</div>



<!-- MENUS -->
<!--div id="comments-menu" onmouseleave="CM$.hide()" style="display:none; z-index:10000">
<p onclick="CMremove()">Delete</p>

<p onclick="
CTV.add( function(r){array_insert_after($PP.$cids, r.rowid, hi.rowid());
RTV.save({comment_ids:$PP.$cids}, $PP.$svrid);
CTV.update(hi.row(), r.rowid, true);});">Insert</p>

<p onclick="array_moveup($PP.$cids, hi.rowid());CTV.refresh();">Move up</p>
<p onclick="array_movedown($PP.$cids, hi.rowid());CTV.refresh();">Move down</p>
<p onclick="CM$.hide()">Exit</p>
<p onclick="RTV.refresh();CM$.hide()">RTV.refresh</p>
</div>

<div id="issues-menu" onmouseleave="IM$.hide()" style="display:none; z-index:10000">
	<p onclick="ITV.insert(true)">Insert</p>
	<p onclick="ITV.remove(hi.rowid())">Delete</p>
	<p onclick="IM$.hide()">Exit</p>
</div -->
