<!doctype html>

<script type='text/javascript'>
//console.log("SCRIPT...");
///// Global defs

// Parameters from Cookies 
//var $user=cookie("$user");
//if ($user==null){$user=cookie("$user", "admin", "30");};
//var $pnum=cookie("$pnum");
//if ($pnum==null){$pnum=cookie("$pnum", "BLDG-001", "30");};
//var $svrnum=cookie("$svrnum");
//var $svrnum="SVR-A01";
//if ($svrnum==null){$svrnum=cookie("$svrnum", "SVR-A01", "30");};

//var $PP={$user:$user, $pnum:$pnum, $svrnum:$svrnum}


//development only
$.extend($PP,{
	$dnum:"SVR-A01",
	$pnum:"BLDG-001"
});
//$PP.set("$dnum", "SVR-A01"); //args param_name, param_value
//$PP.get("$dnum", "SVR-A01"); //args param_name, param_default_value


///// TableViews

// Site visit report

var svrClick=function(el){
	svr_ed.text(el, function(){svrTV.update(svr_ed.row(), svr_ed.rowid(), 1); svr_ed.hide();});
};

var svrTV=new TableView(
	casbah.siteVisitReports($PP),
	{refresh:function(result, delta){renderFX("svr-content", svr_content, result, delta);}}
);

var svrTitleblockTV=new TableView(
	casbah.projects($PP),
	{
		//render the header with project information
		refresh:function(result, delta){renderFX("svr-titleblock", svr_titleblock, result, delta);},
		//current project only
		filter:"pnum=$pnum"
	}
);

///// Menu & actions for comments
var svrMenu;
var svrOpen=function(){
	//update parameter project number pnum from the selected row
	var n=$("[rowid="+svr_hi.rowid()+"]").find("[field=dnum]").text();
	$.extend($PP,{
		$pnum:"BLDG-001",
		$dnum:n
	});
	//load the SVR-XX page
	$("#reportdock").load("views/SVR-XX.html");
};

// text editor
var svr_ed=new Editor();

// highligher
var svr_hi=new Highlighter("highlite");

// function templates
var svr_header;
var svr_titleblock;
var svr_content;


///// READY
$(function() { 

	///// Comments
	// initialize context menu...
	svrMenu=$("#comments-menu").menu().css("position","absolute", "width", "200px").hide();

	//load templates and render
	//$("#document-header-template").load("views/document_header.html", function(htm){
	$("<div>dummy template</div>").load("views/document_header.html", function(htm){
		//console.log('tbh loaded:', htm);
		svr_header=Handlebars.compile(htm);
		//svrHeaderTV.refresh();
		renderFX("svr-header", svr_header);
	});

	//$("#document-titleblock-template").load("views/document_titleblock.html", function(htm){
	$("<div>dummy template</div>").load("views/log_titleblock.html", function(htm){
		//console.log('tbt loaded:', htm);
		svr_titleblock=Handlebars.compile(htm);
		//renderFX("svr-titleblock", svr_titleblock, $PP);
		svrTitleblockTV.refresh();
	});
	
	svr_content=Handlebars.compile($("#svr-content-template").html());
	svrTV.refresh();
	
}); //READY

</script>
</head>
<body>

<!-- PAGE -->

<div class="container">

	<div id="svr-header">placeholder</div>
	<div id="svr-titleblock">placeholder</div>
	<br><br>
	<div id="svr-content">placeholder</div>
	<br><br><br><br>
</div>


<template id="svr-content-template" type="text/x-handlebars-template">
	<div class="row marz row_" onmouseenter="svr_hi.light(this);">
	<p class="col-xs-1 row-head marz">row</p>	
	<p class="col-xs-2 border-left row-head marz">SVR No. / by</p>
	<p class="col-xs-3 row-head marz">title / comment ids</p>
	<p class="col-xs-3 row-head marz">review date / issue ids</p>
	<p class="col-xs-3 row-head marz">publish date / photo ids</p>
	</div>

	{{#each rows}}
	<div class="row marz"
		id="svr{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="svr_hi.light(this);"
		onmouseleave="svr_hi.dark(this);"
		oncontextmenu="showMenu(svrMenu, event)">

	<p 	rowid="{{rowid}}"
		class="col-xs-1 marz">{{plusOne @index}}</p>		

	<p 	class="col-xs-2 marz border-left"
		field="dnum"
		rowid="{{rowid}}"
		onclick="svrClick(this);">{{dnum}}</p>
		
	<p 	class="col-xs-3 marz"
		field="dtitle"
		rowid="{{rowid}}"
		onclick="svrClick(this);">{{dtitle}}</p>
		
	<p 	field="date"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">{{date}}</p>
		
	<p 	field="date_issued"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">{{date_issued}}</p>
		
	</div>

	<div class="row marz zebra-stripe"
		id="svr{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="svr_hi.light(this);"
		onmouseleave="svr_hi.dark(this);"
		oncontextmenu="showMenu(svrMenu, event)">

	<p class="col-xs-1 marz"></p>
	
	<p 	field="reviewer"
		rowid="{{rowid}}"
		class="col-xs-2 border-left marz"
		style="height:100%;"
		onclick="svrClick(this);">{{by}}</p>	
			
	<p 	field="comment_ids"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">{{comment_ids}}</p>
		
	<p 	field="issue_ids"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">{{issue_ids}}</p>
		
	<p 	field="picture_ids"
		class="col-xs-3 marz"
		rowid="{{rowid}}"
		onclick="svrClick(this);">{{picture_ids}}</p>	
		
	</div>
	{{/each}}	
</template>


<!-- MENUS -->
<ul id="comments-menu" onmouseleave="svrMenu.hide()" class="hide9999">
<li onclick="svrTV.add(1);">Add</li>
<li onclick="svrOpen();">Open</li>
<li onclick="svrMenu.hide();svrTV.refresh();">Refresh</li>
<li onclick="svrMenu.hide()">Exit</li>
</ul>


