<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title id='browserTab' >browserTab</title>
<style>
fieldset {border: 0;}
.savable {width:200px;}
label {display: block;  margin: 30px 0 0 0; }
select {width: 200px; }
.overflow {height:200px;}
.border-left {border-left:2px solid #000;}
.marz{margin-top:0px; margin-bottom:0px;}
.row_{border-bottom:1px solid #aaa;}
.row__{border-top:2px solid #000; border-bottom:1px solid #aaa;} 

p, h2, h3, strong {font-family:'segoe';}

textarea {
font-family:'segoe';
background-color:silver;
}


.pocket {
	margin:5px;
	padding:5px;
	height:250px;
	display:block;
	border:1px solid gray;
}
.pocket-caption{height:20px;}
.pocket-row{height:300px;}
</style>


<script type='text/javascript'>
//console.log("SCRIPT...");
///// Global defs

function showMenu(cm$, ev){
	//first call texteditor with no arguments to turn it off just in case its on
	ed.hide();
	cm$.show().position({my:'left top',	at:'left bottom', of:ev});
	//remember caller, that is the <div> or <p> element that launched the contextMenu
	cm$.menu('option', 'caller', ev.target);
	return false;
};

function selectFolder(e) {
    var theFiles = e.target.files;
    var relativePath = theFiles[0].webkitRelativePath;
    var folder = relativePath.split("/");
    alert(folder[0]);
};

function removeFromReport(rowid, RTV){


};

///////////////////////////////////////
function movedn(rowid, rowids){
	for (var i=0; i<rowids.length-1; i++){
		if (rowids[i]==rowid){
			var temp=rowids[i+1];rowids[i+1]=rowid;rowids[i]=temp;return;
		}
	};	
};

function moveup(rowid, rowids){
	for (var i=1; i<rowids.length; i++){
		if (rowids[i]==rowid){
			var temp=rowids[i-1];rowids[i-1]=rowid;rowids[i]=temp;return;
		}
	};
};

function order_by_index(rows, rowids){
	//rows=[{rowid:1, ...}, {rowid:2, ...}, ...]
	//rowids=[2,1,3,4,5...]

	//copy rows array before modifying it
	var orig=[]; for (var i in rows){orig[i]=rows[i];}
	
	var getrowbyid=function(rowid){
		for(var i in orig){
			//console.log("GET rowid, orig[i]", rowid, orig[i].rowid);
			if (orig[i].rowid==rowid) {	return orig[i];	}
		} 
		//default 
		return null;
	};
	
	var r=null, j=0;
	for (var i in rowids){
		//console.log("FOR rows[i], getrowbyid", rows[i], getrowbyid( rowids[i] ) )
		r=getrowbyid( rowids[i] );
		if (r != null) {rows[j]=r; j++;}
	};
};


// Parameters from Cookies 
var $user=cookie("$user");
if ($user==null){$user=cookie("$user", "admin", "30");};
var $pnum=cookie("$pnum");
if ($pnum==null){$pnum=cookie("$pnum", "BLDG-001", "30");};
//var $svrnum=cookie("$svrnum");
var $svrnum="SVR-A01";
if ($svrnum==null){$svrnum=cookie("$svrnum", "SVR-A01", "30");};

var params={$user:$user, $pnum:$pnum, $svrnum:$svrnum}
//for development only
$.extend(params, {
	$cids:[1,2,3,4,5,6,7,8,9,11,12,13],
	$iids:[1,2,3,4,5,6,7,8,9,11,12,13]
});


///// TableViews

// Site visit report
var $cids="1,2,3";
var RTV=new TableView({
	table:"svrs",
	//svrnum, pnum, title, dateofvisit, timeofvisit, dateofreport, reviewer, xdata
	defrow:{
		svrnum:"SVR-A01",
		pnum:"BLDG-001",
		title:"New comment",
		review_date:Date(), 
		publish_date:"not-issued", 
		comment_ids:"[1,2,3,4,5]", 
		issue_ids:"[1,2,3,4,5]",
		picture_ids:"[1,2,3,4,5]",
		reviewer:$user,
		xdata:"none"
	},
	filter:" svrnum = $svrnum ",
	params:{"$svrnum":$svrnum},
	refresh:function(result, diff){	
		console.log("RTV.refresh result.rows.length...", result.rows.length);
		console.log("RTV.refresh diff...", diff);
		if (result.rows.length>0){
			//update params...
			//$.extend({
			//	$cids:JSON.parse(result.rows[0].comment_ids),
			//	$iids:JSON.parse(result.rows[0].issue_ids)
			//};

			//dependent table parameter update/refresh
			CTV.params(params);
			ITV.params(params);
		}
	}});

// table view for comments
var CM$;
var CTemp=function(r){console.log("OLD render...");};
var CTV=new TableView({
	table:"comments",
	defrow:{pnum:"BLDG-001", comment:"New comment", refs:"none", date:Date(), by:$user},
	filter:" rowid IN ( $cids )",
	params:{"$pnum":$pnum, "$cids":"[0]"},
	refresh:function(result, delta){
		order_by_index(result.rows, params.$cids); 
		//console.log("CTV render...", JSON.stringify(result));
		//console.log("CTV SQLselect...", CTV.SQLselect());
		//console.log("CTV diff...", delta);
		renderFX("#comments-placeholder", CTemp, result, delta);
	}});

// table view for issues-closed
var IM$;
var icTemp;
var ioTemp;
//var ITV=issuesTableView(...);
var ITV=new TableView({
	table:"issues",
	defrow:{pnum:"BLDG-001", desc:"New closed issue", open:Date(), shut:"date", refs:"1 2 3", by:$user},
	filter:" pnum = $pnum ",
	params:{ "$pnum":$pnum },
	refresh:function(result, delta){
		//TODO: filter result based on applicable dates...
		renderFX("#issues-closed-placeholder", icTemp, result, delta);
		renderFX("#issues-open-placeholder", ioTemp, result, delta);
	}
});


// text editor
var ed=new Editor();
// highligher
var hi=new Highlighter("skyblue");

///// READY
$(function() { 

	// Setup Handlebars
	Handlebars.registerHelper("plusOne", function(val,options){return parseInt(val)+1;});
	
	///// Comments
	// initialize context menu...
	CM$=$("#comments-menu").menu().css("position","absolute", "width", "200px").hide();
	CTemp=Handlebars.compile($("#comments-template").html());
	
	///// Issues
	IM$=$("#issues-menu").menu().css("position","absolute", "width", "200px").hide();
	icTemp=Handlebars.compile($("#issues-closed-template").html());
	ioTemp=Handlebars.compile($("#issues-open-template").html());

	///// Pictures
	//To do
	
	//render report table which renders dependent comments and issues table-views also
	RTV.refresh();
	
}); //READY



</script>

</head>



<body>


<!-- TEMPLATES               -->
<template id='comments-template' type="text/x-handlebars-template">

	{{#each rows}}
	<div class="row marz"
		id="comment{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="hi.light(this)"
		oncontextmenu="showMenu(CM$, event)">
	<p 	rowid="{{rowid}}"
		class="col-xs-1 marz"
		style="height:100%;">2.{{plusOne @index}}</p>
	<p 	field="comment"
		rowid="{{rowid}}"
		onclick="ed.text(this, function(){CTV.update(ed.row(), ed.rowid()); ed.hide();})"
		class="col-xs-10 border-left marz">{{comment}}</p>	
	<p 	rowid="{{rowid}}"
		class="col-xs-1 marz">{{rowid}}</p>	
	</div>
	{{/each}}	
</template>

<template id='issues-closed-template' type="text/x-handlebars-template">
	{{#each rows}}
	<div class="row marz"
		rowid="{{rowid}}"
		index="{{@index}}"
		onmouseenter="hi.light(this)"
		oncontextmenu="showMenu(IM$, event)">
	<p 	class="col-xs-1 marz"
		rowid="{{rowid}}"
		index="{{@index}}">3.{{plusOne @index}}</p>
	<p 	field="desc"
		rowid="{{rowid}}"
		index="{{@index}}"
		onclick="ed.text(this, function(){ITV.update(ed.row(), ed.rowid()); ed.hide();})"
		class="col-xs-10 border-left marz">{{desc}}</p>	
	<p 	rowid="{{rowid}}"
		index="{{@index}}"
		class="col-xs-1 marz">{{rowid}}</p>	
	</div>
	{{/each}}	
</template>

<template id='issues-open-template' type="text/x-handlebars-template">
	{{#each rows}}
	<div class="row marz"
		rowid={{rowid}}
		onmouseenter="hi.light(this)"
		oncontextmenu="showMenu(IM$, event)">
	<p 	rowid={{rowid}}
		class="col-xs-1 marz">4.{{plusOne @index}}</p>
	<p 	field="desc"
		rowid={{rowid}}
		onclick="ed.text(this, function(){ITV.update(ed.row(), ed.rowid()); ed.hide();})"
		class="col-xs-10 border-left marz">{{desc}}</p>	
	<p 	rowid={{rowid}}
		class="col-xs-1 marz">{{rowid}}</p>	
	</div>
	{{/each}}	
</template>

<!-- MENUS -->
<div id="comments-menu" onmouseleave="CM$.hide()" style="display:none; z-index:10000">
<p onclick="CTV.insert()">Insert</p>
<p onclick="removeFromReport(RTV, hi.rowid())">Remove from report</p>
<p onclick="CTV.remove(hi.rowid())">Remove from database</p>
<p onclick="moveup(hi.rowid(), params.$cids);CTV.refresh();hi.light('#comment'+hi.rowid());">Move up</p>
<p onclick="movedn(hi.rowid(), params.$cids);CTV.refresh();hi.light('#comment'+hi.rowid());">Move down</p>
<p onclick="CM$.hide()">Exit</p>
<p onclick="RTV.refresh();CM$.hide()">RTV.refresh</p>

</div>

<div id="issues-menu" onmouseleave="IM$.hide()" style="display:none; z-index:10000">
	<p onclick="ITV.insert()">Insert</p>
	<p onclick="ITV.remove(hi.rowid())">Delete</p>
	<p onclick="IM$.hide()">Exit</p>
</div>



<!-- PAGE STARTS HERE -->

<div class='container'>
	<img src='./images/private/logo.png' style='width:100px; float:left;'>
	<h2  style='float:right;' >Field Review Report</h2><div style='clear:both'></div>
	<br><br>

	<div class='row row__'>
		<strong class='col-xs-2'>Report No:</strong>
		<p id='docName' class='col-xs-4'>SVR-A01</p>
		<strong class='col-xs-2'>Permit No:</strong>
		<p id='permitNo' class='col-xs-4 soup-cell'>16 xxxxxx BLD 00 BA</p>
	</div>

	<div class='row row_'>
		<strong class='col-xs-2'>Project:</strong>
		<p class='col-xs-4'>Some Street Building Redevelopment</p>
		<strong class='col-xs-2'>Date of Visit:</strong>
		<p id='visitDate' class='col-xs-4 soup-cell'>June 15 &amp; 17, 2016</p>
	</div>
	
	<div class='row row_'>
		<strong class='col-xs-2'>Project No.:</strong>
		<p class='col-xs-4'>BLDG-0001</p>
		<strong class='col-xs-2'>Time of Visit:</strong>
		<p id='visitTime' class='col-xs-4 soup-cell'>4pm to 6pm</p>
	</div>
				
	<div class='row row_'>
		<strong class='col-xs-2'>Project Location:</strong>
		<p class='col-xs-4'>123 Some Street, City, Prov, M5B 1W8</p>
		<strong class='col-xs-2'>Reviewer:</strong>
		<p id='reviewerName' class='col-xs-4 soup-cell'>Andrew Siddeley</p>
	</div>

	<div class='row row_'>
		<strong class='col-xs-2'>Contractor:</strong>
		<p class='col-xs-4'>GC</p>
		<strong class='col-xs-2'>Date of Report:</strong>
		<p id='reportDate' class='col-xs-4'>Jun 17, 2016</p>
	</div>
	
	<div class='row row_ '>
		<p id='generalStatement'
		class='col-xs-12' 
		table="general"
		field="values"
		select="name='svrstatement'"
		onmouseenter="hi.light(this)"
		onclick="ed.text(this, function(ev){ ed.hide();})"
		>This report is a general review of progress and construction activities on site.  Architectural Work was visually reviewed on a random basis for general conformity with Architectural Contract Documents prepared by this firm.  Refer also to Mechanical and Electrical field reports issued separately.  
		</p>
	</div>	

	<br><br>

	<div class='row marz'>
		<h3 class='col-xs-1 marz'>1.0</h3>
		<h3 class='col-xs-10 border-left marz'>General</h3>
		<h3 class='col-xs-1 marz'>Ref.</h3>
	</div>
	
	<div class='row marz'>
		<p class='col-xs-1 marz'>1.1</p>
		<p id='generalComment' class='col-xs-10 border-left marz' >general comment</p>
		<p class='col-xs-1 marz'>--</p>
	</div>

	<div class='row marz' 
		onmouseenter='hi.light(this)'
		oncontextmenu='showMenu(CM$, event)' >
		<h3 class='col-xs-1 marz' >2.0</h3>
		<h3 class='col-xs-10 border-left marz'>Comments and Observatons</h3>
		<h3 class='col-xs-1 marz' >Pic.</h3>
	</div>
	
	<!-- Placeholder -->
	<div id='comments-placeholder' class='marz'></div>

	<div class="row marz"
		oncontextmenu="showMenu(icM$, event)"
		onmouseenter="hi.light(this)">
		<h3 class='col-xs-1 marz'>3.0</h3>
		<h3 class='col-xs-10 border-left marz'>Issues Resolved</h3>
		<h3 class='col-xs-1 marz'>Ref</h3>
	</div>

	<!-- Placeholder -->
	<div id='issues-closed-placeholder' class='marz'></div>
	
	<div class='row marz'
		oncontextmenu="showMenu(ioM$, event)"
		onmouseenter="hi.light(this)">
		<h3 class='col-xs-1 marz'>4.0</h3>
		<h3 class='col-xs-10 border-left marz'>Issues Outstanding</h3>
		<h3 class='col-xs-1 marz'>Ref</h3>
	</div>

	<!-- Placeholder -->
	<div id='issues-open-placeholder' class='marz'></div>

	<div class='row marz'>
		<h3 class='col-xs-1 marz'>5.0</h3>
		<h3 class='col-xs-10 border-left marz'>Pictures</h3>
		<h3 class='col-xs-1 marz'>Pic.</h3>
	</div>
	
	<!-- Placeholder -->
	<div id='pictures-placeholder' class='marz'></div>


<br><br><br><br>
</div>
</body>
</html>

