<!doctype html>

<script type='text/javascript'>
//console.log("SCRIPT...");
///// Global defs

// Parameters from Cookies 
//var $user=cookie("$user");
//if ($user==null){$user=cookie("$user", "admin", "30");};
//var $pnum=cookie("$pnum");
//if ($pnum==null){$pnum=cookie("$pnum", "BLDG-001", "30");};
//var $svrnum=cookie("$svrnum");
//var $svrnum="SVR-A01";
//if ($svrnum==null){$svrnum=cookie("$svrnum", "SVR-A01", "30");};

//var $PP={$user:$user, $pnum:$pnum, $svrnum:$svrnum}


//development only
$.extend($PP,{
	$dnum:"SVR-A01",
	$pnum:"BLDG-001"
});
//$PP.set("$dnum", "SVR-A01"); //args param_name, param_value
//$PP.get("$dnum", "SVR-A01"); //args param_name, param_default_value


///// TableViews

var svrlog_click=function(el){
	svrlog_ed.text(el, function(){svrlog_tv.update(svrlog_ed.row(), svrlog_ed.rowid(), true); svrlog_ed.hide();});
};

var svrlog_tv=new TableView(
	casbah.siteVisitReports($PP),
	{refresh:function(result, delta){renderFX("svrlog-content", svrlog_content, result, delta);}}
);

var svrlog_tvTitleblock=new TableView(
	casbah.projects($PP),
	{
		//render the header with project information
		refresh:function(result, delta){renderFX("svrlog-titleblock", svrlog_titleblock, result, delta);},
		//current project only
		filter:"pnum=$pnum"
	}
);

///// Menu & actions for comments
var svrlog_menu;
var svrlog_open=function(){
	//update parameter project number pnum from the selected row
	var n=$("[rowid="+svrlog_hi.rowid()+"]").find("[field=dnum]").text();
	$.extend($PP,{
		$pnum:"BLDG-001",
		$dnum:n
	});
	//load the SVR-XX page
	$("#reportdock").load("views/SVR-XX.html");
};

// text editor
var svrlog_ed=new Editor();

// highligher
var svrlog_hi=new Highlighter("highlite");

// function templates
var svrlog_header;
var svrlog_titleblock;
var svrlog_content;


///// READY
$(function() { 

	///// Comments
	// initialize context menu...
	svrlog_menu=$("#comments-menu").menu().css("position","absolute", "width", "200px").hide();

	//load templates and render
	//$("#document-header-template").load("views/document_header.html", function(htm){
	$("<div>dummy template</div>").load("views/document_header.html", function(htm){
		//console.log('tbh loaded:', htm);
		svrlog_header=Handlebars.compile(htm);
		renderFX("svrlog-header", svrlog_header);
	});

	//$("#document-titleblock-template").load("views/document_titleblock.html", function(htm){
	$("<div>dummy template</div>").load("views/log_titleblock.html", function(htm){
		//console.log('tbt loaded:', htm);
		svrlog_titleblock=Handlebars.compile(htm);
		svrlog_tvTitleblock.refresh();
	});
	
	svrlog_content=Handlebars.compile($("#svrlog-content-template").html());
	svrlog_tv.refresh();
	
}); //READY

</script>
</head>
<body>

<!-- PAGE -->

<div class="container">

	<div id="svrlog-header">placeholder</div>
	<div id="svrlog-titleblock">placeholder</div>
	<br><br>
	<div id="svrlog-content">placeholder</div>
	<br><br><br><br>
</div>


<template id="svrlog-content-template" type="text/x-handlebars-template">
	<div class="row marz row_" onmouseenter="svrlog_hi.light(this);" onmouseleave="svrlog_hi.dark(this);">
	<p class="col-xs-1 row-head marz">row</p>	
	<p class="col-xs-2 border-left row-head marz">SVR No. / by</p>
	<p class="col-xs-3 row-head marz">title / comment ids</p>
	<p class="col-xs-3 row-head marz">review date / issue ids</p>
	<p class="col-xs-3 row-head marz">publish date / photo ids</p>
	</div>

	{{#each rows}}
	<div class="row marz"
		id="svr{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="svrlog_hi.light(this);"
		onmouseleave="svrlog_hi.dark(this);"
		oncontextmenu="showMenu(svrlog_menu, event)">

	<p 	rowid="{{rowid}}" class="col-xs-1 marz">{{plusOne @index}}</p>		
	
	<div class="border-left col-xs-11 marz" >
	<p 	class="col-xs-2 marz"
		field="dnum"
		rowid="{{rowid}}"
		onclick="svrlog_click(this);">{{dnum}}</p>
		
	<p 	class="col-xs-3 marz"
		field="dtitle"
		rowid="{{rowid}}"
		onclick="svrlog_click(this);">{{dtitle}}</p>
		
	<p 	class="col-xs-3 marz"
		field="date"
		rowid="{{rowid}}"
		onclick="svrlog_click(this);">{{date}}</p>
		
	<p 	class="col-xs-3 marz"
		field="date_issued"
		rowid="{{rowid}}"
		onclick="svrlog_click(this);">{{date_issued}}</p>
	</div>	
	</div>

	<div class="row marz zebra-stripe"
		id="svr{{rowid}}"
		rowid="{{rowid}}"
		onmouseenter="svrlog_hi.light(this);"
		onmouseleave="svrlog_hi.dark(this);"
		oncontextmenu="showMenu(svrlog_menu, event)">

	<p class="col-xs-1 marz "></p>
	<div class="border-left marz col-xs-11">
	<p 	class="col-xs-2 marz"
		field="by"
		rowid="{{rowid}}"
		style="height:100%;"
		onclick="svrlog_click(this);">{{by}}</p>	
			
	<p 	class="col-xs-3 marz"
		field="comment_ids"
		rowid="{{rowid}}"
		onclick="svrlog_click(this);">{{comment_ids}}</p>
		
	<p 	class="col-xs-3 marz"
		field="issue_ids"
		rowid="{{rowid}}"
		onclick="svrlog_click(this);">{{issue_ids}}</p>
		
	<p 	class="col-xs-3 marz"
		field="picture_ids"
		rowid="{{rowid}}"
		onclick="svrlog_click(this);">{{picture_ids}}</p>	
	</div>		
	</div>
	{{/each}}	
</template>


<!-- MENUS -->
<ul id="comments-menu" onmouseleave="svrlog_menu.hide()" class="hide9999">
<li onclick="svrlog_tv.add(true);">Add</li>
<li onclick="svrlog_open();">Open</li>
<li onclick="svrlog_menu.hide();svrlog_tv.refresh();">Refresh</li>
<li onclick="svrlog_menu.hide()">Exit</li>
</ul>


