<div class="container" ><br>
	<div class="row">
		<div class="col-md-4"></div>
		<center class="logobox cazbar col-md-4 jumbo">
		<div>* C-A *</div>
		<div>S B A H</div>
		</center>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
	<span class="col-md-4"></span>
	<span class="col-md-4">
	<p class="centre welcome">is a...</p>
	<h1 class="welcome">Contract<br>Administration<br>Site<br>Built-for<br>Architectural<br>Heroes</h2>
	</span>
	</div>
	<div class="row"><span class="col-md-4"></span><hr class="col-md-4">
</div>

